{{#extend "layout"}}

    {{#content "body" mode="append"}}
		<div class="blocks">
			<div class="comment">
			</div>
			{{#each ast.blocks}}
				{{{partial type ext=../../ext}}}
			{{/each}}
		</div>
    {{/content}}

{{/extend}}
