<!doctype html>
<html lang="en-us">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />

	<title>{{title}}</title>

	<link rel="stylesheet" href="prism.css" />
	<link rel="stylesheet" href="screen.css" />
</head>

<body>
	<div class="site">
		<div class="site-hd" role="banner">
			{{#block "header"}}
				<div class="bar bar_inv">
					<a class="isHiddenLg" href="#"><i class="icon icon_hamburger mix-icon_hideSm">Menu</i></a>
					<div class="bar-flex isHiddenLg"></div>
					<h1><i class="icon icon_docs">{{title}}</i></h1>
					<div class="bar-flex"></div>
					<a class="isHiddenLg" href="#"><i class="icon icon_search mix-icon_hideSm">Search</i></a>
				</div>

				<ul class="sitemap isHiddenSm">
					<li>
						<form action="." method="get" role="search">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
				</ul> <!-- /sitemap -->
			{{/block}}
		</div>

		<div class="site-bd">
			{{#block "body"}}
				<div class="site-bd-top">
					<div class="bar">
						<div class="menu">
							<a class="menu-tgl" href="#"><i class="icon icon_arrow-down">AppController</i></a>
							<ul class="menu-list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Grandparent</a></li>
								<li><a href="#">Parent</a></li>
							</ul>
						</div>

						<div class="bar-flex"></div>

						<a href="#" class="isActive"><i class="icon icon_text mix-icon_hideSm">Docs</i></a>
						<a href="#" class="isActive"><i class="icon icon_code mix-icon_hideSm">Code</i></a>
					</div>
				</div>
			{{/block}}
		</div>

		<div class="site-ft">
			{{#block "footer"}}
				<div class="bar bar_inv">
					<a href="#"><i class="icon icon_house mix-icon_hide">Home</i></a>
					<a href="#"><i class="icon icon_github mix-icon_hide">Github</i></a>
					<div class="bar-flex"></div>
					<div class="menu">
						<a class="menu-tgl" href="#"><i class="icon icon_arrow-down">Latest</i></a>
						<ul class="menu-list">
							<li><a href="#">1.1</a></li>
							<li><a href="#">1.0</a></li>
							<li><a href="#">0.1</a></li>
						</ul>
					</div>
				</div>
			{{/block}}
		</div> <!-- /site-ft -->
	</div> <!-- /site -->

	<script src="prism.js"></script>
</body>

</html>
