/*csslint
	box-model: false,
	box-sizing: false,
	compatible-vendor-prefixes: false,
	fallback-colors: false,
	import: false,
	universal-selector: false
*/

@import url(http://fonts.googleapis.com/css?family=Inconsolata:400|Open+Sans:400,600,800);

* {
	border: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	margin: 0;
	padding: 0;
}

html {
	font: normal 400 12px/1.2 'Open Sans', sans-serif;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	color: hsla(0, 0%, 10%, 1);
	height: 100%;
}

code {
	font-family: 'Inconcolata', monospace;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

input:focus {
	box-shadow: inset 0 1px 5px hsla(0, 0%, 0%, 0.125);
	outline: 0;
}

pre {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 2rem 3rem;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------
 Utility
----------------------------------------------------------------------------- */

.isHiddenSm {
	display: none;
}

@media (min-width: 64rem) {
	.isHiddenSm {
		display: block;
	}

	.isHiddenLg {
		display: none;
	}
}

/* -----------------------------------------------------------------------------
 Bar
----------------------------------------------------------------------------- */

.bar {
	-webkit-align-items: stretch;
	align-items: stretch;
	background-color: hsla(0, 100%, 100%, 1);
	border-bottom: 1px solid hsla(0, 0%, 85%, 1);
	display: -webkit-flex;
	display: flex;
	height: 4rem;
	position: relative;
	z-index: 1;
}

.bar > * {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	line-height: 4rem;
	padding: 0 1rem;
}

.bar > .isActive {
	color: hsla(200, 100%, 40%, 1);
	font-weight: 600;
}

.bar_inv {
	background-color: hsla(200, 100%, 40%, 1);
	border: 0;
	color: hsla(0, 100%, 100%, 1);
}

.bar-flex {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

/* -----------------------------------------------------------------------------
 Heading
----------------------------------------------------------------------------- */

.hdg {
	color: hsla(333, 80%, 50%, 1);
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 1rem;
	position: relative;
}

.hdg small {
	border-radius: 1rem;
	border: 1px solid;
	float: right;
	font-size: 0.75rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

.mix-hdg_method {
	color: hsla(100, 80%, 40%, 1);
}

.mix-hdg_property {
	color: hsla(200, 100%, 40%, 1);
}

.hdg-perm {
	opacity: 0;
	position: absolute;
	right: 100%;
	top: -0.333rem;
}

.hdg-perm:focus,
.hdg:hover .hdg-perm {
	opacity: 1;
}

/* -----------------------------------------------------------------------------
 Icon
----------------------------------------------------------------------------- */

@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Icons.eot?-gl2kca');
	src: url('fonts/Icons.eot?#iefix-gl2kca') format('embedded-opentype'),
		 url('fonts/Icons.woff?-gl2kca') format('woff'),
		 url('fonts/Icons.ttf?-gl2kca') format('truetype'),
		 url('fonts/Icons.svg?-gl2kca#Icons') format('svg');
}

.icon:before {
	font-family: 'Icons';
	font-size: 1.7rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.333em;
	speak: none;
	text-transform: none;
	vertical-align: -0.25em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon:empty:before {
	margin-right: 0;
}

.icon_archive:before { content: "\e6a0"; }
.icon_arrow-down:before { content: "\e6ce"; }
.icon_arrow-left:before { content: "\e6cd"; }
.icon_arrow-right:before { content: "\e6d0"; }
.icon_arrow-up:before { content: "\e6cf"; }
.icon_book:before { content: "\e6aa"; }
.icon_code:before { content: "\e65f"; }
.icon_docs:before { content: "\e69a"; }
.icon_github:before { content: "\e6ee"; }
.icon_hamburger:before { content: "\e696"; }
.icon_house:before { content: "\e622"; }
.icon_link:before { content: "\e628"; }
.icon_menu:before { content: "\e6dd"; }
.icon_minus:before { content: "\e67f"; }
.icon_plus:before { content: "\e680"; }
.icon_search:before { content: "\e624"; }
.icon_text:before { content: "\e697"; }
.icon_twitter:before { content: "\e6f4"; }

.mix-icon_hide,
.mix-icon_hideSm {
	font-size: 0;
}

.mix-icon_hide:before,
.mix-icon_hideSm:before {
	margin-right: 0;
}

@media (min-width: 24rem) {
	.mix-icon_hideSm {
		font-size: inherit;
	}

	.mix-icon_hideSm:before {
		margin-right: 0.333em;
	}
}

/* -----------------------------------------------------------------------------
 Menu
----------------------------------------------------------------------------- */

.menu-list {
	display: none;
}

/* -----------------------------------------------------------------------------
 Pair
----------------------------------------------------------------------------- */

.pair > *:not(:empty) {
	border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.pair-left {
	padding: 2rem 3rem;
}

.pair-right {
	background: hsla(0, 0%, 95%, 1);
}

@media (min-width: 48rem) {
	.pair {
		-webkit-align-items: stretch;
		align-items: stretch;
		display: -webkit-flex;
		display: flex;
		margin-left: 3rem;
	}

	.pair > * {
		-webkit-flex: 1 1 50%;
		flex: 1 1 50%;
	}

	.pair-left {
		padding-left: 0;
	}
}

@media (min-width: 64rem) {
	.pair:last-child > * {
		padding-bottom: 6rem;
	}
}

/* -----------------------------------------------------------------------------
 Site
----------------------------------------------------------------------------- */

.site {
	height: 100%;
}

.site > * {
	position: relative;
}

.site-hd {
	background: hsla(0, 100%, 100%, 1);
	z-index: 2;
}

.site-bd {
	background: hsla(0, 100%, 100%, 1);
	z-index: 1;
}

.site-ft {
	background: hsla(0, 100%, 100%, 1);
	z-index: 3;
}

@media (min-width: 64rem) {
	.site-hd {
		height: calc(100% - 4rem);
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 20rem;
	}

	.site-bd {
		border-left: 1px solid hsla(0, 0%, 85%, 1);
		min-height: 100%;
		padding-top: 4rem;
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% - 20rem);
	}

	.site-bd-top {
		background: hsla(0, 100%, 100%, 1);
		left: calc(20rem + 1px);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.site-ft {
		left: 0;
		overflow: hidden;
		position: fixed;
		bottom: 0;
		width: 20rem;
	}
}

/* -----------------------------------------------------------------------------
 Sitemap
----------------------------------------------------------------------------- */

.sitemap {
	list-style: none;
}

.sitemap a {
	display: block;
	line-height: 2rem;
	padding: 0.25rem 1rem;
	width: 100%;
}

.sitemap a:focus,
.sitemap a:hover {
	background-color: hsla(0, 0%, 95%, 1)
}

.sitemap form {
	border-bottom: 1px solid hsla(0, 0%, 85%, 1);
}

.sitemap input {
	background: hsla(0, 100%, 100%, 1);
	display: block;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	width: 100%;
}

.sitemap ul {
	display: none;
	list-style: none;
}

.sitemap ul li {
	padding-left: 1rem;
}

.sitemap .isCurrent {
	color: hsla(333, 80%, 50%, 1);
	border-right: 0.25rem solid hsla(333, 80%, 50%, 1);
	font-weight: 600;
}

.sitemap .isCurrent + ul {
	display: block;
}

@media (min-width: 64rem) {
	.sitemap {
		height: calc(100% - 4rem);
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}
